<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ictwsn.UserMapper">
	<!--<select id="selectUser" parameterType="com.ictwsn.User" resultType="com.ictwsn.User"> 
		select * from user where username =#{username} and password =#{password} 
		</select> <insert id="insertUser" parameterType="com.borrow.model.User" flushCache="true"> 
		insert into user (id,username.password) values(#{id},#{username},#{password}) 
		</insert> <update id="updateUser" parameterType="com.borrow.model.User"> 
		update user set password = #{password} where id = #{id} </update> <delete 
		id="deleteUser" parameterType="int"> DELETE FROM user WHERE id=#{id} </delete> -->
</mapper>  